body,html {
	background: url("resource://wlisttab/backgrounds/bg.jpg") fixed center center;
	background-size: cover;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

#app {
	background: rgba(0,0,0,.25);
	min-height: 100vh;
	padding-bottom: 7rem;
}

#header {
	height: 3rem;
	padding: .5rem 1%;
	position: fixed;
	top: 0;
	width: 98%;

	img {
		border: 2px solid white;
		border-radius: 50%;
		color: white;
		float: right;
		height: 68px;
		width: 68px;
	}
}

#main {
	text-align: center;
	width: 100%;

	#container {
		margin: 0 auto;
		width: 50%;
		max-width: 550px;
		position: relative;
		top: 7rem;

		#hello {
			color: #fff;
			font-size: 1.25rem;
			text-align: left;
		}

		#newtask {
			height: 3rem;
			padding-bottom: 2rem;

			input {
				background: rgba(0,0,0,0);
				border: none;
				border-bottom: 3px solid #fff;
				color: #fff;
				font-size: 2rem;
				line-height: 2.5rem;
				width: 100%;
			}

			#lists_list {
			    float: right;
				opacity: .8;
				position: relative;
				top: 2rem;
			}
		}

		#tasklist {
			ul {
				list-style-type: none;
				padding: 0;

				li {
					border-bottom: 1px solid #fff;
					min-height: 2.5rem;
					padding: .25rem 0;
					margin-bottom: 1rem;

					div {
						color: #fff;
						font-size: 1.5rem;
						font-weight: 400;
						font-smooth: antialiased;
						text-align: left;
						text-shadow: 1px 1px 0 rgba(0,0,0,.1);

						&:hover {
							text-decoration: line-through;
							cursor: pointer;
						}
					}
				}
			}
		}
	}
}

